body {
  margin: 0;
  background-color: #1f2937;
  color: #4adf86;
  font-family: 'Inter', sans-serif;
}

.container {
  padding: 115px 52px;
  background-color: #ecfdf5;
  max-width: 550px;
  /* height: 550px; */
  margin: 100px auto;
}

h1,
span {
  font-family: 'Karla', sans-serif;
  color: #1f2937;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1;
  margin: 12px 0;
}

span {
  color: #10b981;
}

p {
  color: #6b7280;
  font-size: 20px;
  margin: 10px 0 50px 0;
}

button {
  border: none;
  background: #10b981;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 16px;
}

button:hover {
  background: #0fa573;
}

hr {
  margin: 50px 0;
  color: #d5d4d8;
}

.password {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#password1,
#password2 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  margin: 12px 0;
  padding: 10px;
  width: 240px;
  background: #273549;
  color: #5def92;
  border-radius: 6px;
}

/* .copy-btn {
  display: flex;
  justify-content: space-around;
  text-align: center;
} */
